<% provide(:title, t(".title")) %>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis"><%= t(".sub-title") %></h1>

  <div class="display-5 fw-bold text-body-emphasis">
    <p class="lead mb-4">
      Yondaアプリへようこそ!<br>
      これは読み聞かせた絵本を記録できるアプリです。<br>
      家族や友人と読み聞かせ記録を共有することで<br>
      新しい絵本に出会えたり、楽しい思い出を残すことができます。<br>
    </p>
  </div>

  <%= link_to t(".sign_up"), signup_path, class: "btn btn-outline-success btn-lg px-4 gap-3" %>
</div>
