<% provide(:title, t(".title")) %>
<h1 class="text-center p-5"><%= t(".sub-title") %></h1>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <% @read_records.each do |read_record| do %>
      <div class="col-md-4">
        <%= image_tag read_record.book.imege_link, class: "img-fluid rounded-start" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= read_record.book.title %></h5>
          <p class="card-text"><%= read_record.ead_date %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
