<% provide(:title, t(".title")) %>
<h1 class="text-center p-5"><%= t(".title") %></h1>

<div class="row">
  <div class="text-center col-md-10 col-lg-8 mx-auto w-50">
    <p class="fs-4 mb-5">「Yonda」へようこそ。このプライバシーポリシーでは、私たちがユーザーのデータをどのように収集、使用、保護するかについて説明します。私たちはユーザーのプライバシーを尊重し、データの保護に最善を尽くします。以下の内容をご確認ください。</p>

    <h2>1. データの収集</h2>
    <p class="fs-4 mb-5">私たちは、ユーザーが「Yonda」を利用する際に、以下のようなデータを収集することがあります。</p>
    <ul class="list-unstyled">
      <li class="fs-5">・<strong>アカウント情報:</strong> ユーザーがアカウントを作成する際に提供する名前、メールアドレス、パスワードなど。</li>
      <li class="fs-5">・<strong>使用状況情報:</strong> ユーザーが「Yonda」を利用する際の操作履歴やアクセス情報。</li>
      <li class="fs-5">・<strong>その他のデータ:</strong> ユーザーが自発的に提供したフィードバックやコメント。</li>
    </ul>

    <h2>2. データの使用方法</h2>
    <p class="fs-4 mb-5">収集したデータは、以下の目的で使用します。</p>
    <ul class="list-unstyled">
      <li class="fs-5">・「Yonda」のサービス提供と向上のため。</li>
      <li class="fs-5">・ユーザーへのカスタマイズされたエクスペリエンスの提供のため。</li>
      <li class="fs-5">・ユーザーへの連絡やサポートのため。</li>
      <li class="fs-5">・法的な義務を果たすため。</li>
    </ul>

    <h2>3. データの保護</h2>
    <p class="fs-4 mb-5">私たちは、ユーザーのデータを安全に保護するために、適切なセキュリティ対策を講じています。データへの不正アクセスや漏洩を防止するため、物理的、電子的、および手続的な安全対策を実施しています。</p>

    <h2>4. データの共有</h2>
    <p class="fs-4 mb-5">私たちは、ユーザーのデータを第三者と共有することはありません。ただし、以下の場合を除きます。</p>
    <ul class="list-unstyled">
      <li class="fs-5">・ユーザーの同意がある場合。</li>
      <li class="fs-5">・法的な要求がある場合。</li>
      <li class="fs-5">・サービスの提供に必要な信頼できる第三者との連携が必要な場合。</li>
    </ul>

    <h2>5. クッキーと追跡技術</h2>
    <p class="fs-4 mb-5">「Yonda」は、クッキーやその他の追跡技術を使用してユーザーのエクスペリエンスを向上させます。クッキーの使用を拒否することも可能ですが、一部の機能が制限される場合があります。</p>

    <h2>6. ユーザーの権利</h2>
    <p class="fs-4 mb-5">ユーザーは、以下の権利を有しています。</p>
    <ul class="list-unstyled">
      <li class="fs-5">・自分のデータへのアクセス、修正、削除を求める権利。</li>
      <li class="fs-5">・データ処理に対する異議申し立ての権利。</li>
      <li class="fs-5">・同意を撤回する権利。</li>
    </ul>

    <h2>7. プライバシーポリシーの変更</h2>
    <p class="fs-4 mb-5">私たちは、このプライバシーポリシーを随時変更することがあります。変更があった場合は、「Yonda」上でお知らせします。</p>

    <h2>8. お問い合わせ</h2>
    <p class="fs-4 mb-5">プライバシーポリシーに関する質問や懸念がある場合は、お問い合わせください。</p>
    <p class="fs-4 mb-5">メール: keeee8800@gmail.com</p>
  </div>
</div>
