<% provide(:title, t(".title")) %>
<h1 class="text-center p-5"><%= t(".title") %></h1>

<div class="row">
  <div class="text-center col-md-10 col-lg-8 mx-auto w-50">
    <p class="fs-4 mb-5">ようこそ、Yondaへ。以下は、このWebアプリケーションの利用規約です。利用を開始する前にお読みください。</p>

    <h2>1. アカウントの作成と使用</h2>
    <p class="fs-4 mb-5">ユーザーは、Yondaアカウントを作成して使用することで、利用規約に同意したものとみなされます。アカウント情報は正確かつ最新の情報に保つ必要があります。</p>

    <h2>2. サービスの提供</h2>
    <p class="fs-4 mb-5">Yondaは、利用規約に従ってサービスを提供します。サービス内容は予告なく変更されることがあります。</p>

    <h2>3. ユーザーの責任</h2>
    <ul class="list-unstyled">
      <li class="fs-5">・Yondaの利用に関して、ユーザーは法令に従い、公序良俗に反しないように行動する必要があります。</li>
      <li class="fs-5">・ユーザーは、他のユーザーや第三者の権利を侵害しないよう注意してください。</li>
    </ul>

    <h2>4. 知的財産権</h2>
    <p class="fs-4 mb-5">Yondaおよび関連コンテンツの知的財産権は、当社またはそのライセンサーに帰属します。無断での使用は固く禁止されています。</p>

    <h2>5. サービスの停止または終了</h2>
    <p class="fs-4 mb-5">Yondaは、必要に応じてサービスの停止または終了を行うことがあります。ユーザーはその際に生じるいかなる損害についても責任を負いません。</p>

    <h2>6. 利用規約の変更</h2>
    <p class="fs-4 mb-5">Yondaは、利用規約を随時変更することがあります。変更があった場合は、Yonda上でお知らせします。</p>

    <h2>7. お問い合わせ</h2>
    <p class="fs-4 mb-5">利用規約に関する質問や懸念がある場合は、お問い合わせください。</p>
    <p class="fs-4 mb-5">メール: keeee8800@gmail.com</p>
  </div>
</div>