<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">よんだ？</h1>

  <div class="display-5 fw-bold text-body-emphasis">
    <p class="lead mb-4">
      Yondaアプリへようこそ!<br>
      これは絵本の読み聞かせを記録できるアプリです。<br>
      家族や友人と読み聞かせ記録を共有することで<br>
      新しい絵本に出会えたり、楽しい思い出を残すことができます。<br>
    </p>
  </div>

  <%= link_to "早速登録しよう!", '#', class: "btn btn-outline-success btn-lg px-4 gap-3" %>
</div>
