<h1>パスワードリセット</h1>

<p>パスワードをリセットするには以下のリンクをクリックしてください!</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は2時間です。</p>

<p>
パスワードをリセットしない場合、現在のパスワードが使用されます。
</p>
