<div class="col row-cols-1 row-cols-md-2 p-1 text-center">
  <div class="card mx-auto library-info<%= book.systemid %>" style="width: 11rem; height: 11rem">
      <%= image_tag book.image_link.present? ? book.image_link : 'sample.png', class: 'card-img-top book-img' %>
      <div class="card-title p-1"><%= book.title.truncate(10) %></div>
      <%= link_to "この本を読み聞かせる", new_read_record_path(book_id: book.id), method: :post, class: "ms-2 mt-1 btn btn btn-outline-info btn-lg" %>
  </div>
</div>